#formular{
    padding: 10px;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.formelement{
    margin: 10px;
}

#formularelementtop{
    padding-top:15px;
}

#logo {
    width:15%;
    height:15%;
}