@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 2rem;

    }

    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
    }
}
.center{
    text-align: center;
}

body{
}

#logo {
    width:15%;
    height:15%;
}
.margin {
    margin: 1%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}