.fileupload{
    width: 90%;
}

form{
    margin: 3% 0 3% 3%;

    align-content: center;
}

.input-group{
    height: 25px;
}

form > *{
    padding: 15px;
}


.heading{
    margin-bottom: 0;
    padding-bottom: 0;
}

.subheading{
    margin-top: 0;
    padding-bottom: 0;
}

.logo{
    height: 100px;
    float:right;
    margin-right: 10px;
    margin-top: 0;
}

#eventTitel, #eventUTitel, #eventDescription{
    width: 90%;
}

#eventDescription{
    height: 90%;
    width: 90%;
    overflow: auto;
}

.picWrapper{
    width: 90%;
}

.agendaWrapper{
    margin-left: 0;
    margin-right: 0;
}

.sendTo-wrapper{
    margin-left: 10px;
}

.descriptionWrapper{
    margin-right: 0;
    padding-right:0;
    width: 20%;
}

#email-content{
    width: 90%;
    height: 100px;
}

#event-details{
    width: 90%;
    height: 100px;
}

#logo {
    width:15%;
    height:15%;
}

.e-spacing{
    width: 100%;
    padding: 0;
}

.row{
    margin: 0;
}

.col{
    padding: 0;
}

.allContent{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.live-view{
    margin: 30% 3% 25% 0;
    border: solid lightgrey 1px;
}

.dateTime{
    border:none;
}

.dateTime:focus{
    border-color: lightskyblue;
}

.dateTimeWrapper{
    background-color: lightgrey;
}

.custom-file-label::after{
    display: none;
}

.live-view h5 {
    color:#1C4B94;
    text-align:center;
}

.live-view #bild {
    margin-top:1%;
    margin-left:1%;
    width: 25%;
    height: 25%;
}

.live-view h2{
    color:#1C4B94;
    text-align:center;
}

.live-view h6{
    margin-top:1%;
    color:#1C4B94;
    text-align:center;
}

.live-view #b1{
    margin-top:2%;
}

.live-view #begruessung{
    margin-top:10%;
    font-weight:bold;
    color:#1C4B94;
    margin-left:5%;
}

.live-view #t1{
    font-weight:bold;


}

.live-view #s3{
    margin-top:15%;
    color:#1C4B94;
    text-align:center;
    margin-bottom:5%;
}

.live-view #t2{
    margin-left:5%;
    margin-right:5%;

}

.live-view button{
    margin-top:3%;

}

.live-view .hide{
    display: none;

}


.live-view #g1{
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
}

.live-view #formular{


}