.fileupload{
    width: 40%;
}

form{
    margin: 3%;
    border: #707070 2px solid;
    border-radius: 1px;
    align-content: center;
}

.input-group{
    height: 25px;
}

form > *{
    padding: 15px;
}

#eventDescription, #sendTo{
    width: 50%;
}

.heading{
    margin-bottom: 0;
    padding-bottom: 0;
}

.subheading{
    margin-top: 0;
    padding-bottom: 0;
}

.logo{
    height: 100px;
    float:right;
    margin-right: 10px;
    margin-top: 0;
}
